extends layout

block content
  h1 #{hash}: #{block.hash}

  p #[strong prevHash:] #{block.prevHash}
  p #[strong Cost:] #{block.cost}
  p #[strong First Name:] #{block.firstName}


  div(style='margin-left:20px;margin-top:20px')
    h4 Copies

      p There are no copies of this block in the library.

  hr
  p
    a(href=block.url+'/delete') Delete Block
  p
    a(href=block.url+'/update') Update Block