extends layout

block content
  h1 #{title}: #{book.title}

  p #[strong Summary:] #{book.summary}
  p #[strong ISBN:] #{book.isbn}


  div(style='margin-left:20px;margin-top:20px')
    h4 Copies

      p There are no copies of this book in the library.

  hr
  p
    a(href=book.url+'/delete') Delete Book
  p
    a(href=book.url+'/update') Update Book